* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 15px/1.5 "Inter", sans-serif;
}


body {
    background: url("../images/background.jpg") no-repeat;
    background-size: cover;
}

.container {
    width: 75vw;
    margin: 0 auto;
    transform: translate(0, 8%);
}

.container .forum {
    display: flex;
    gap: 2em;
}

.forum .left-section,
.forum .right-section {
    display: flex;
    flex-direction: column;
}

.forum .right-section {

}

.forum .left-section {
    gap: 2em;
    flex: 1 0 63%;


}

.forum .left-section > .card,
.forum .right-section > .card {
    flex: 1 0 auto;
}

.forum .card {
    background-color: #fdfdfe;
    padding: 3.5em 2.2em 2em 2.2em;
    display: flex;
    flex: 1 0 auto;
    gap: 3em;
}

.card .card-data {
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex: 1 1 auto;
}

.forum .card .card-media {
    display: flex;
    flex: 1 1 30%;
    width: 100%;
}

.forum .card .card-media .image-holder {
    width: 12em;
    height: 12em;
    border-radius: 50%;
    overflow: hidden;
    margin: auto auto;
}

.card-media .image-holder img {
    display: block;
    width: 100%;
    height: auto;
}

.right-section .card {
    flex-direction: column;
    padding: 3.5em 1.9em 2em 1.9em;
}

.right-section .card .card-data {
    gap: 4em;
    padding-bottom: 4em;
    padding-top: 2em;
}

.right-section .card .card-media {
    border-top: 1px solid #d8d8d8;
    padding-top: 1em;
}

.right-section .card .card-media .media-data {
    padding: 1em;
}

.right-section .card .card-media .image-holder {
    width: 6em;
    height: 6em;
    margin: 0;
}

.left-section > .card:first-of-type .card-media .image-holder > img,
.right-section > .card .card-media .image-holder > img {
    position: relative;
    top: -1.5em;
}

.left-section .card .card-data {
    position: relative;
    top: 2em;
}