@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 15px/1.5 "Inter", sans-serif;
}

body {
    background: #d8d8d8;
}

.container {
    max-width: 1600px;
    margin: 3em auto;
    display: flex;
    gap: 2.66em;
}

.card {
    display: flex;
    flex-direction: column;
    box-shadow: 0.6em 0.5em 1em 0.3em rgba(0, 0, 0, 0.23);
    max-width: 33.75em;
    flex: 1 1 auto;
}

.card .card-media {
    flex: 1 1 auto;
    display: flex;
}

.card .card-media .image-enterprice {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 90%;
}

.image-enterprice img {
    display: block;
    width: 100%;
    height: auto;
}

.card:nth-child(2) .image-enterprice img {
    display: block;
    width: 100%;
    height: 100%;
}

.author-image {
    flex: 1 1 20%;
    width: 20%;
}

.author-image img {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    top: -15px;
}

.card .card-information {
    flex: 0 1 auto;
    padding: 0 2.66em 2.66em;
}

.card .card-information h3 {
    padding-bottom: 0.8em;
    color: #595959;
    letter-spacing: 0.9px;
}

.card .card-information h1 {
    font-size: 1.76em;
    font-weight: 400;
    padding-bottom: 1.7rem;
}

.card .card-information > p {
    color: #595959;
    padding-bottom: 2.66em;
}

.card .card-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1.5px solid black;
    padding-top: 1em;
    vertical-align: center;
}

.card .card-footer > p {
    margin: auto 0;
    color: #595959;
}

.card .card-footer .author {
    display: flex;
    gap: 0.7em;
    justify-content: center;
}

.card .card-footer .author p {
    margin: auto;

}

.card .card-footer .author .author-image {
    overflow: hidden;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    aspect-ratio: 1/1;
}
