@media (max-width: 600px) {
    body > div {
        display: flex;
        flex-direction: column;
    }
    .home-container {
        display: flex;

    }
    .home-navbar {
        padding: 1em 2em 1em 3em;
    }

    .home-cta-container > .Anchor {
        line-height: 1.1;
        font-size: 15px;
    }

    .home-cta-container > button {
        position: relative;
        padding: 0.8em 1em;
        vertical-align: center;
    }

    .home-hero {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .home-hero-text-container {
        margin: 0 auto;
        width: 100%;
    }

    .home-hero .home-image1 {
        width: 100%;
        padding-bottom: 1.5em;
        line-height: 1.4;
    }

    .home-cta-btn2 {
        flex: 1 1 auto;
        margin: 0 auto;
        padding: 1em;

    }
    .home-heading-container{
        width: 100%;
    }

    .home-cards-container {
        flex-direction: column;
        justify-content: center;
    }

    .home-cards-container > div {
        width: 100%;
        height: auto;
        padding: 0.5em;
    }
    .home-cards-container > div > span:last-of-type {
        font-size: 0.9em;
    }
    .home-cards-container div img {
        width: 424px;
        height: 306px;
    }
    .home-stats {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 160vw;
    }
}