html {
    font-family: "Helvetica", sans-serif;

}
main {
    border-top: 1px solid black;
}
nav {
    display: inline-block;
}

ul {
    display: inline-block;

}

li {
    display: inline-block;

}

a {
    text-decoration: none;
    margin: 0 1rem 0 1rem;
    color: green;
    font-size: 0.8em;
}

h1 {
    display: inline-block;
    font-size: 2em;
    margin-bottom: 0;
}

h2 {
    font-family: "Roboto", serif;
    font-weight: 500;
}